* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

::-webkit-scrollbar {
    width: 0px;
}

body {
    width: 100vw;
    height: 10rem;
    display: grid;
    grid-template-areas:
        "header"
        "content"
    ;
    grid-template-rows: 13vh 87vh;
}

header {
    grid-area: header;
    background-color: black;
    color: white;
    font-size: calc(1.5vw + .2rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    grid-area: content;
    display: grid;
}

canvas {
    height: 87vh;
    width: 100vw;
    z-index: -1;
    position: absolute;
}



.instruction {
    display: flex;
    flex-flow: wrap row-reverse;
    flex-basis: 100%;
    margin: .5vw .5vw 0 0;
}

.instructionsButton {
    display: flex;
    width: calc(2vw + 0.5rem);
    height: calc(2vw + 0.5rem);
    justify-content: center;
    align-items: center;
    border: .1vw black solid;
    border-radius: .5vw;
    font-size: calc(2vw + 0.5rem);
}

.instructionsOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
    width: 30vw;
    height: 65vh;
    display: flex;
    flex-flow: column wrap;
}

.closeInstructionsOverlay {
    width: 2vw;
    height: 2vw;
    font-size: 1.5vw;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-top: .3vw;
}

.instructionsOverlay p {
    padding: .5vw 1vw;
    height: 60vh;
    font-size: 1.2vw;
}

.gameSelection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 25vw;
    height: 80vh;
}

.gameSelection button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 3vw;
    border: .1vw black solid;
    border-radius: .5vw;
    font-size: 2vw;
}

.shipSelectionSection {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.shipSelectionSection button {
    border: black solid .12vw;
    border-radius: .2vw;
}

#shipSelectionContinueButton {
    border: black solid .12vw;
    border-radius: .5vw;
}

.shipOptions {
    display: flex;
    flex-flow: column wrap;
    width: 20rem;
}

.shipOptions h3 {
    font-size: 2rem;
}

.shipButton {
    display: flex;
    flex-flow: column wrap;
    width: 15rem;
}

.shipButton h4 {
    font-size: 1.2rem;
    margin: .5vw 0;
}

dl {
    display: grid;
    grid-template-columns: 50px 10rem;
    grid-template-rows: 1fr;
}

dt {
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 1.5vw;
}

dd {
    display: flex;
    font-size: 1rem;
    padding-bottom: 1.5vw;
    padding-left: .5vw;
}

.shipButton button {
    font-size: .8rem;
    width: 8rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}

#chosenShips {
    width: 20rem;
}

#chosenShips h3 {
    font-size: 2rem;
}

#chosenShips section {
    display: flex;
    flex-flow: row wrap;
}

#chosenShips h4 {
    font-size: 1.2rem;
    margin: .5vw 0;
    width: 10rem;
}

#chosenShips button {
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#shipSelectionContinueButton {
    height: 2rem;
    width: 5rem;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -110vh;
    left: 59vw;
    display: flex;
    flex-flow: column wrap;
}

#gameScreen {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 7vh 79.5vh;
    grid-template-areas:
        "instruction instruction instruction3"
        "left center right";
}

.instruction {
    grid-area: instruction3;
}

.game-board-overlay {
    display: flex;
    flex-flow: column wrap;
    grid-area: center;
    width: 50%;
}

.game-board-overlay h1 {
    width: 60vw;
    margin-bottom: 1vh;
    text-align: center;
}

.overlay-two-column {
    display: flex;
    flex-flow: row nowrap;
    align-self: center;
    padding-top: 5vh;
    width: 100%;
    height: 70vh;
}

.column-left {
    width: 25%;
    display: flex;
    flex-flow: column nowrap;
}

.column-right {
    width: 75%;
    height: 50vh;
    display: flex;
    flex-flow: row wrap;
}

.column-right button {
    width: 7.69%;
    border: solid 1px black;
}

.gameBoardOverlay button:hover {
    background-color: rgb(70, 70, 70);
}

#playerOneHealth {
    position: absolute;
}

/* ability and heath bar CSS */
.playerOneShipsHealth {
    position: absolute;
    top: 25%;
    left: 10%;
}

.otherPlayerShipsHealth {
    position: absolute;
    top: 25%;
    right: 10%;
}

.health-bar {

    width: 200px;
    height: 20px;
    background-color: gray;
}

.health-bar-fill {
    width: 100%;
    height: 20px;
    background-color: green;
    text-align: center;
    transition: width 2s;
}

.squareHover {
    background-color: red;
}

@keyframes blink {

    0%,
    100% {
        background-color: #f0f0f0;
    }

    50% {
        background-color: red;
    }
}

.scouting {
    animation: blink 1s infinite;
}